/* Ensure body and html take up full height */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #fbccff;
    color: #333;
    padding: 20px 0; /* Vertical padding */
}

/* General section styling */
.section {
    padding: 40px 0; /* Vertical space between sections */
    width: 100%;
}

/* Headings and text are left-aligned */
.section h2, .section p, .section table , .section h1{
    text-align: left;
    margin: 0 auto; /* Ensure consistent margins */
    max-width: 1200px; /* Optional: limit width for readability */
}

/* Center large images only */
.large-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 100%;
}

table {
    border-spacing: 0;
}
td {
    padding: 0;
}